@{
    Layout = "_LayoutStudent";
}
<div class="container my-4 content">

    <form name="form-gender-specie" id="form-gender-specie" class="row g-2 form-input" asp-controller="GenderSpecie" asp-action="SearchGenderSpecieView"
          method="post" class="form-inline">
        <div class="col-12 d-flex">
            <div class="col-xl-3 col-md-4 col-sm-6 mx-1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="genderSpecie" name="genderSpecie" placeholder="género o especie" required>
                    <label for="floatingInput" style="color:black">Ingrese género o especie</label>
                </div>
            </div>
            <div class="col-xl-1 col-md-4 col-sm-3 mb-3 mx-2">
                <input type="submit" class="btn btn-secondary" name="search" value="Buscar">
            </div>

        </div>
    </form>
</div>